.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 13px;
  color: #d1d5db;
  padding: 0px 20px;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.08);

  transition: color 100ms ease-out;
}
.link > h3 {
  font-size: 16px;
  margin-left: 20px;
}
.link > .MuiSvgIcon-root {
  padding: 2px;
}

.active {
  color: #1ef978;
  background-color: rgba(255, 255, 255, 0.08);
}
@media screen and (max-width: 798px) {
  .link {
    padding: 0 auto;
    flex-grow: 1;
    height: 70px;
    border-radius: 0;
    justify-content: center;
  }
  .link > h3 {
    display: none;
  }
}
